<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rol</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
 crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 

<style>
	.modal-header, h4, .close {
		background-color: #286090;
		color: white !important;
		text-align: center;
		font-size: 20px;
	}
	.help-block{
	 color: red;
	 /*display: none;*/
	}
	.form-group.has-error .form-control-label {
	  color: red;
	}
	.form-group.has-error .form-control {
	  border: 1px solid red;
	  box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
	}
	
	.alertify .ajs-dialog {
	    top: 50%;
	    transform: translateY(-50%);
	    margin: auto;
	}
	
	.ajs-header{
		background-color: #286090 !important;
		color: white !important;
		/*text-align: center;*/
		font-size: 18px;
		font-weight: bold;
	}
	.ajs-ok{
		color: #fff;
	    background-color: #007bff;
	    border-color: #007bff;
	}
	.ajs-cancel{
		color: #fff;
	    background-color: #dc3545;
	    border-color: #dc3545;
	}
	.btn-primary{
	background-color: #286090 !important;
	}
	.dataTables_length, .dataTables_info{
		display: none;
	}
	.modal-lg, .modal-xl {
		max-width: 900px;
		max-height: 800px;
	}
	
	.form-control-feedback2 {
	  margin:1px;
	  position: absolute;
	  padding: 10px;
	  pointer-events: none;
	  background-color: #e9ecef;
	  border-style: none;
	}
	.form-control-feedback3 {
	  margin:1px;
	  position: absolute;
	  margin-left:225px;
	  padding: 10px;
	  pointer-events: none;
	  background-color: #e9ecef;
	  border-style: none;
	}
	.form-control {
	  padding-left: 40px!important;
	}
	/*.toast-succes{
		width: 120px;
	}*/
</style> 
</head>
<body>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
				<div
					class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<a href="Index.jsp"
						class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<span class="fs-5 d-none d-sm-inline mx-auto p-2"
						style="font-family: sans-serif;">Menú Principal</span>
					</a>
					<ul
						class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
						id="menu">
							<li class="nav-item" style="margin-top: 20px"><a
								href="/usuario/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Usuario</span>
							</a></li>
							<li class="nav-item" style="margin-top: 20px"><a
								href="/rol/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Rol</span>
							</a></li>
							<li class="nav-item" style="margin-top: 20px"><a
								href="/rolEnlace/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Rol Enlace</span>
							</a></li>
							<li class="nav-item" style="margin-top: 20px"><a
								href="/secretaria/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Secretaria</span>
							</a></li>
							<li class="nav-item" style="margin-top: 20px"><a
								href="/doctor/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Doctor</span>
							</a></li>
							<li class="nav-item" style="margin-top: 20px"><a
								href="/cita/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Cita</span>
							</a></li>
							<li class="nav-item" style="margin-top: 20px"><a
								href="/boleta/lista" class="nav-link align-middle px-0"> <i
									class="fas fa-plus"></i> <span
									class="ms-1 d-none d-sm-inline">Boleta</span>
							</a></li>
					</ul>
					<hr>
					<div class="pb-4">
						<a class="btn btn-outline-danger mx-auto p-2" href="/inicio/lista">Cerrar Sesion</a>
					</div>
				</div>
			</div>
	<div class="container">
		
			<h3 class="text-center mt-4">LISTA DE ROLES</h3>
			
			<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalRol" id="btn-nuevo">
			 <i class="far fa-file"></i> Nuevo Rol
			</button>
			<div class=" mt-2">
	
				<table class="table table-striped table-bordered mt-5" id="tableRoles">
							  <thead>
							   <tr>
					                <th>Código</th>
					                <th>Descripciòn</th>
					                <th></th>
					                <th></th>
					            </tr>
							  </thead>
							  <tbody>
								<tr th:each="row:${roles}"> 
							      <td th:text="${row.codigo}"></td>
							      <td th:text="${row.descripcion}"></td>
							      <td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalRol"><i class="far fa-edit"></i></a></td>
							      <td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
							    </tr>  
							  </tbody>
				</table>
			</div>
		
		
			<!-- begin #modal-dialog : MODAL ROL-->
			<div class="modal fade" id="modalRol" data-backdrop="static" 
							data-keyboard="false" tabindex="-1" 
							aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-login modal-lg" >					
							<div class="modal-content">
								<div class="modal-header bg-blue-darker">
									<h4 class="modal-title text-white">Rol</h4>
								</div>
								<div class="modal-body">
									<form method="POST" id="idRegistra" action="grabar">	
										<input type="text" value="0" name="codigo" id="idCodigo">
										<div class="container">
											<div class="row">
												<div class="form-group has-feedback col-md-12">
														<label for="exampleInputEmail1"><b>Descripciòn</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idDescripcion" placeholder="Ingresar descripcion" name="descripcion">																										
												</div>
												
											</div>
										</div>								
										<div class="col-md-12 text-center mt-4"> 										
											<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
											<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
										</div> 																								
									</form>
								</div>
							</div>
						</div>
		</div>
		<!-- FIN Modal ROL-->	
	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
	crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj = /*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});
	</script>
	
	
	<script>
		$(document).on("click", ".btn-editar", function () {
			//variable
			var cod;
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?codigo=" + cod, function (response) {
				console.log(response);
				$("#idCodigo").val(response.codigo);
				$("#idDescripcion").val(response.descripcion);
			})

		})
		
		//asignar evento click al botòn con id "btn-cerrar"
		$(document).on("click", "#btn-cerrar",function(){
			//resetear el formulario
			$("#idRegistra").trigger("reset");
			//resetear validacion
			$("#idRegistra").data("bootstrapValidator").resetForm(true);
			
		})
		
		//asignar evento click a los botones con clase "btn-eliminar"
		$(document).on("click", ".btn-eliminar", function () {
			var cod;
	
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm("SISTEMA", "Seguro de eliminar!",
				function () {
					window.location="http://localhost:8094/rol/eliminar?codigo="+cod

				},
				function () {
					alertify.error('Cancelado!')
				}).
				set('labels', {ok: 'Si', cancel: 'No'});
		})
		
	</script>
	
	<script type="text/javascript">    
	  
	</script>   	
</body>
</html>